@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  
  body {
    max-width: 100%;
    height: 100vh;
  }
 
  @font-face {
    font-family: 'DM Serif Display';
    src: url('../public/fonts/DMSerifDisplay-Regular.ttf');
  }
  @font-face {
    font-family: 'Karla';
    src: url('../public/fonts/Karla-VariableFont_wght.ttf');
  }
}

.option {
  @apply uppercase font-semibold text-white md:text-grayish-blue text-base cursor-pointer transition-colors duration-300 hover:text-dark-violet tracking-wider;
}

.btn {
  @apply w-48 md:w-36 border-2 font-karla text-base md:text-sm font-semibold text-white md:text-dark-violet tracking-wider border-white md:border-dark-violet p-2 text-center uppercase bg-transparent transition-colors duration-300 cursor-pointer hover:bg-very-dark-violet hover:text-white;
}